fastapi>=0.121.0
uvicorn[standard]>=0.22.0
sqlalchemy>=2.0.16
aiomysql>=0.2.0
mysql-connector-python>=9.2.0
pydantic>=2.10.6
pydantic-settings>=2.0.2
alembic>=1.11.1
pytest>=7.3.2
pytest-asyncio>=0.21.1
pytest-timeout>=2.3.1
python-dotenv>=1.0.1

